html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
}

h3{
    margin-bottom: 4rem;
}

#container{
    width:400px;
    margin:0 auto;
}

.accordian{
    margin-bottom:1.5rem;
}

.header{
    font-size: large;
    font-weight: 500;
    background-color: brown;
    padding:2rem;
    color: white;
    margin:0;
}

.header:hover{
    cursor:pointer;
}

.description{
    padding-top:1.5rem;
    display: none;
}