html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding:0;
}

.parent-container{
    display: flex;
    flex-direction: column;
    padding:30px;
}

.count{
    font-size: larger;
    margin-bottom: 1rem;
}

.inc-dec{
    margin-bottom: 1rem;
}
.button-group{
    display: flex;
    flex-direction: column;
}

.top{
    margin-bottom: 1rem;
}