html{
      box-sizing: border-box;
};

*, *::before, *::after{
      box-sizing: inherit;
};

body{
      margin:0;
      padding: 0;
}

#ping-pong-table{
      border: 2px solid black;
      width: 700px;
      height: 400px;
      margin:50px 350px;
      position: relative;
}

#ball{
      background-color: red;
      width:20px;
      height:20px;
      border-radius: 50%;
      position: absolute;
}

#paddle{
      width: 10px;
      height:70px;
      background-color: blue;
      margin-left: 5px;
      position: absolute;
}