html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}



#tweet {
    width : 67%;
    border: solid red 5px;
    margin: 100px;
    margin-right:126px
    
}

#mediaHandle {
    margin-left: 300px;
}

#tweet p{
    margin-left: 300px;
}
/* Targeting Message */

#tweet p {
    /* margin-top: 2px; */
    color: #0f1419;
    width: 530px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 2px;
}

#tweet nav ul{
    margin-left: 300px;
}

/* Targeting Name */
#mediaHandle span:first-child {
    color : #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Targeting Metadata */
#mediaHandle span:last-child {
    margin-left: 4px;
    color : #71767b;
    font-family: sans-serif;
    font-size: 15px;

}


/* Intermediate Step to remove UL list default icons */

#actionRow {
    max-width: 425px;
    list-style-type: none;
    margin-left : 300px;
    padding : 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap : 2rem;
}

/* Handling the images */

#actionRow img{
    width : 16px;
    margin-right: 12px;
}

/* Handling the verbiage of the image */

#actionRow span{
    color: #536471;
    font-size: 13px;
}


