html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/* ! Flex Box for main */

.main {
    /* border: 2px solid black; */
    /* margin:auto; */
    display: flex;
    height:100vh;
    width:100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ! Flex Box for Tweet */
/* Flex Box for Tweet */

.tweet {
    border:2px solid blue;
    background-color: bisque;
    border-color: black;
    border-width: 1px;
    border-radius: 16px;
    padding: 12px;
    /* margin-top: ; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* ! THUMBNAIL */

.thumbnail div img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
    object-fit: cover;
    flex: 1; /*This will make sure this particular flex item will always shrink to fit the available space
    /* even if the container is made smaller. */
}


/* ! Flex Box for the whole right side */
/* Flex Box for whole right side */

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
}

/* Flex for Top Info : To apply 2px of gap between (name,metadata AND paragraph) */ 

.topinfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:2px;
}

/* Flex Box for Name and Meta Data */

.topinfo .header {
    border:2px solid green;
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    justify-content: center;
    align-items: center;
}

/* Applying Flex-grow for the whole name */

/* .topinfo .header .name {
    flex-grow: 1;
} */

/* Applying Flex-grow for the whole metadata */

.topinfo .header .metadata {
    flex-grow: 1;
}

/* ! Flex Box for Action bar */
/* Flex box for Action Bar */

.actionrow {
    max-width: 425px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* FlexBox on Comment */

.comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .commentpic, .countcomment {
    flex-grow: 1;
}

/* FlexBox on Re-Tweet */
.retweet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .retweetpic, .countretweet {
    flex-grow: 1;
}

/* FlexBox on Likes */
.favourite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .favouritepic, .countfavourite{
    flex-grow: 1;
}




/* ! METADATA AND NAME */

/* Cutomizing NAME */

.topinfo .header .name {
    color:#000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Customizing METADATA */

.topinfo .header .metadata {
    border: 2px solid blue;
    color:#71767b;
    font-family: sans-serif;
    font-size: 15px;
}


/* ! MESSAGE */
/* Customizing MESSAGE */

.topinfo .message .tweetmessage {
    border:2px solid black;
    color:#0f1419;
    font-family: sans-serif;
    font-size: 15px;
    /* -webkit-hyphens: manual;*/
    word-break: break-all;
    margin:0;
    /* flex:1; */
}


/* ! Customizing ACTION ROW */

/* Customizing action count */

.count {
    color: #536471;
    font-size: 13px;
}

/* Customising widget icons */

.actionrow .widget img{
    color: #536471;
    width:16px;
    height:16px;
}


