html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* ! Flex Box for Tweet */
/* Flex Box for Tweet */

.tweet {
    background-color: bisque;
    border-color: black;
    border-width: 1px;
    border-radius: 16px;
    padding: 12px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* ! Flex Box for the whole right side */
/* Flex Box for whole right side */

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
}

/* Flex for Top Info : To apply 2px of gap between (name,metadata AND paragraph) */ 

.topinfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:2px;
}

/* Flex Box for Name and Meta Data */

.topinfo .header {
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    justify-content: center;
    align-items: center;
}

/* Applying Flex-grow for the whole metadata */

.topinfo .header .metadata {
    flex-grow: 1;
}

/* ! Flex Box for Action bar */
/* Flex box for Action Bar */

.actionrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* FlexBox on Comment */

.comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .commentpic, .countcomment {
    flex-grow: 1;
}

/* FlexBox on Re-Tweet */
.retweet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .retweetpic, .countretweet {
    flex-grow: 1;
}

/* FlexBox on Likes */
.favourite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    align-items: center;
}

.widget .favouritepic, .countfavourite{
    flex-grow: 1;
}


/* ! THUMBNAIL */

.thumbnail div img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

/* ! METADATA AND NAME */

/* Cutomizing NAME */

.topinfo .header .name {
    color:#000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Customizing METADATA */

.topinfo .header .metadata {
    border: 2px solid blue;
    color:#71767b;
    font-family: sans-serif;
    font-size: 15px;
}


/* ! MESSAGE */
/* Customizing MESSAGE */

.topinfo .message .tweetmessage {
    color:#0f1419;
    font-family: sans-serif;
    font-size: 15px;
    margin:0;
}


/* ! Customizing ACTION ROW */

/* Customizing action count */

.count {
    color: #536471;
    font-size: 13px;
}

/* Customising widget icons */

.actionrow .widget img{
    color: #536471;
    width:16px;
    height:16px;
}


