html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
}

#add-employee{
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#add-employee button{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: burlywood;
    color:black;
    font-size: 1.25rem;
}

#add-employee button:hover{
    cursor:pointer;
}

#parent-container{
    border:2px solid black;
    display: flex;
    height:400px;
    position:relative;
}

#employee-container{
    /* border:2px solid red; */
    flex-basis: 40%;
    overflow-y:auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}

.employee{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    /* border:2px solid blue; */
    height:3rem;
    padding:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.employee:hover{
    cursor:pointer
}

#employee-details{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:1rem;
}

#employee-details .employee-image{
    height:110px;
    width:110px;
    border-radius: 50%;
    object-fit: cover;
}

#employee-details .employee-image img{
    height:100%;
    width:100%;
    
}

#employee-details .employee-name{
    font-size: 1.25rem;
    font-weight: 800;
}

.empForm{
    border:3px solid green;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap:1rem;
    width:350px;
    height: 450px;
    position: absolute;
    top:20%;
    left:35%;
    overflow-y: auto;
};